#outbox {
    left: 20px;
    top: 20px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: green;
}
#inbox {
    left: 20px;
    top: 20px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: red;
}
#word {
    position: absolute;
    left: 20px;
    top: 120px;
}
#stuff {
    position: absolute;
    left: 20px;
    top: 140px;
}